<%- include("partials/header_admin") -%>


<!-- EVENT-DETAIL -->
<div class="event-detail">

  <h1><%= event_name %></h1>
  <hr>

  <div class="container-fluid event-detail-content">

    <div class="manage-icon">
      <a class="icon-detail" href="/edit/<%= id %>" data-bs-toggle="tooltip" title="edit"><i class="fa-solid fa-pencil"></i></a>
      <a id="delete" class="icon-detail" href="exampleModal" data-bs-toggle="modal" data-id="<%= id %>" data-bs-target="#exampleModal" title="delete""><i class="icons fa-solid fa-eraser"></i></a>
    </div>


    <p class="last-modified">last modified : <%= edited %></p>

    <h4>Description</h4>
    <p><%= description %></p>

    <h4>Location</h4>
    <p class="location"><%= location %></p>
    <p>Landmark : <%= landmark %></p>
    <a href="<%= gmaps %>" class="tooltip-map" data-bs-toggle="tooltip" title="open with gmaps">
      <p>open maps</p>
    </a>


    <h4>Date & Time</h4>
    <p><%= date %>, <%= time %></p>

  </div>

  <div class="table">
    <table>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Vehicle</th>
      </tr>

      <% list.forEach(function(lists){ %>
      <tr>
        <td><%= number++ %></td>
        <td><%= lists.name %></td>
        <td><%= lists.email %></td>
        <td><%= lists.phone %></td>
        <td><%= lists.address %></td>
        <td><%= lists.vehicle %></td>
      </tr>
      <% }) %>



    </table>
    <!-- <button type="button" class="btn btn-dark home-button btn-sm">Send a broadcast message!</button> -->
  </div>

</div>

<form class="" action="/delete" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this event?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark home-button btn-md delete" name="delete" val="">Delete</button>
      </div>
    </div>
  </div>
</div>
</form>


</div>

<%- include("partials/footer") -%>
