<%- include("partials/header_admin") -%>


<!-- EVENT -->
<div class="event">

  <h1>MANAGE EVENT</h1>

  <form class="" action="/create_event" method="get">
    <button type="submit" class="btn btn-dark home-button btn-sm create-button">Create Event</button>
  </form>

  <hr>

  <div class="container-fluid">



    <div class="row">

      <!-- EVENT CONTENT -->
      <% eventArray.forEach(function(events){ %>
      <div class="col-sm-12 col-lg-6 event-div">
        <div class="card">
          <div class="card-body">
            <form id="moreDetails" action="/admin_event/<%= events._id %>" method="get">

              <h5 class="card-title"><%= events.event_name %></h5>
              <p class="last-modified">last modified : <%= events.edited %></p>
              <a id="delete" class="icon" href="exampleModal" data-bs-toggle="modal" data-id="<%= events._id %>" data-bs-target="#exampleModal" title="delete""><i class="icons fa-solid fa-eraser"></i></a>
              <a class="icon" href="/edit/<%= events._id %>" data-bs-toggle="tooltip" title="edit"><i class="fa-solid fa-pencil"></i></a>


              <p> <%= events.description.substring(0,100) %> ... </p>
              <p>Location : <%= events.location.substring(0,50) %> ... </p>
              <p>Date & Time : <%= events.date %>, <%= events.time %> </p>
              <button type="submit" class="btn btn-dark home-button btn-sm" name="moreDetails">more details</button>
              <p>Participant(s) : <%= events.participant.length %>/ <%= events.max_participant %></p>
              </form>
              <!-- </form> -->

          </div>
        </div>
      </div>

      <% }); %>

    </div>




  </div>


</div>

<form class="" action="/delete" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this event?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark home-button btn-md delete" name="delete" val="">Delete</button>
      </div>
    </div>
  </div>
</div>
</form>

</div>
<%- include("partials/footer") -%>
